@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: $bg-color;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}
