@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: $bg-color;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.justify-between {
    justify-content: space-between;
}

.pointer-events-none {
    pointer-events: none;
}

.new-user-flash {
    right: 5px;
    width: 250px;
    color: #fff;
    background: $danger;
    padding: 10px;
    z-index: 3;
    animation: fadeOut 5s forwards;

    &__new {
        background: $success;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .85;
    }
    100% {
        opacity: 0;
    }
}
